



.image{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.box{
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 10px;
}

.image{
    width: 100px;
    height: 100px;
    margin-left: 240px;
}

.button{
    width: 100px;
    height: 30px;
    background-color: rgb(44, 43, 73);
    margin-top: 35px;
    margin-left: 30px;
    margin-right: 10px;
}

.news{
    width: 150px;
    height: 30px;
    background-color: rgb(44, 43, 73);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
}

.MM{
    width: 150px;
    height: 30px;
    background-color: rgb(44, 43, 73);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
}

.NN{
    width: 150px;
    height: 30px;
    background-color: rgb(44, 43, 73);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
}

.media{
    width: 500px;
    height: 100px;
}

.back{
    width: 100%;
    height: 500px;
    background-image: url(../img/back.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.card{
    width: 100%;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}


.Earth{
    width: 300px;
    height: 50px;
    margin-left: 100px;
}

.matn{
    width: 600px;
    height: 50px;
    margin-top: 40px;
    margin-left: 100px;
}

.updates{
    width: 300px;
    height: 50px;
    background-color: rgb(107, 24, 24);
    margin-top: 40px;
    margin-left: 95px;
    border-radius: 100px;
}

.but{
    margin-top: 100px;
}

.box1{
    width: 250px;
    height: 50px;
    background-color: transparent;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 50px;
}

.box2{
    width: 250px;
    height: 50px;
    background-color: transparent;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 10px;
}

.box3{
    width: 250px;
    height: 50px;
    background-color: transparent;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 10px;
}

.image1{
    width: 80px;
    height: 80px;
    background-image: url(../img/moon.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    margin-left: 150px;
    margin-top: 80px;
}

.image2{
    width: 80px;
    height: 80px;
    background-image: url(../img/past.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    margin-left: 10px;
    margin-top: 80px;
}

.image3{
    width: 80px;
    height: 80px;
    background-image: url(../img/play.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 80px;
    margin-left: 10px;
    margin-top: 80px;
}

.web{
    width: 310px;
    height: 60px;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 50px;
}

.inter{
    width: 360px;
    height: 60px;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 550px;
}

.more{
    width: 200px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);

}

.dif{
    width: 200px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    
}

.end{
    width: 200px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    
}

.nill{
    width: 200px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    
}

.play{
    width: 200px;
    height: 500px;
    background-color: rgba(225,225,225,0.5);
    
}

.dark{
    width: 420px;
    height: 600px;
    background-image: url(../img/solar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 65px;
    margin-right: 13px;
}

.danger{
    width: 200px;
    height: 600px;
    background-image: url(../img/pot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.mino{
    width: 260px;
    height: 300px;
    background-image: url(../img/on3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
}

.face{
    width: 260px;    
    height: 287px;
    background-image: url(../img/on4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 13px;
}

.text1{
    margin-top: 490px;
}

.text2{
    margin-top: 445px;
}

.ax1{
    width: 100px;
    height: 100px;
    background-image: url(../img/ax1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    margin-left: 70px;
}

.mnt1{
    width: 200px;
    height: 100px;
    background-color: transparent;
}

.ax2{
    width: 100px;
    height: 100px;
    background-image: url(../img/ax2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

.mnt2{
    width: 200px;
    height: 100px;
    background-color: transparent;
}

.ax3{
    width: 100px;
    height: 100px;
    background-image: url(../img/ax3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

.mnt3{
    width: 200px;
    height: 100px;
    background-color: transparent;
}

.ax4{
    width: 100px;
    height: 100px;
    background-image: url(../img/ax4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
}

.mnt4{
    width: 200px;
    height: 100px;
    background-color: transparent;
}

.soil{
    width: 100%;
    height: 600px;
    background-image: url(../img/soil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.out{
    margin-left: 50px;
}

.hard{
    width: 600px;
    height: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.click{
    width: 500px;
    height: 50px;
    background-color: transparent;
    margin-top: 300px;
    margin-left: 50px;
}


.image{
    width: 600px;
    margin-left: 20px;
}

.matnam{
    width: 900px;
    margin-left: 20px;
}

.matna{
    width: 500px;
    margin-left: 20px;
}

.like{
    width: 400px;
    height: 60px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 30px;
}

.world{
    width: 650px;
    height: 600px;
    background-image: url(../img/world.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.more{
    width: 600px;
    height: 50px;
    background-color: transparent;
    margin-left: 50px;
}

.birds{
    width: 400px;
    height: 300px;
    margin-left: 50px;
    background-color: transparent;
}

.reptil{ 
    width: 400px;
    height: 300px;
    margin-left: 20px;
    background-color: transparent;
}

.mammals{ 
    width: 400px;
    height: 300px;
    margin-left: 20px;
    background-color: transparent;
}

.page1{
    width: 185px;
    height: 300px;
    background-color: transparent;
    background-image: url(../img/bird1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maine1{
    width: 185px;
    height: 300px;
    background-color: transparent;
}

.page2{
    width: 185px;
    height: 150px;
    background-color: transparent;
    background-image: url(../img/bird2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page3{
    width: 185px;
    height: 145px;
    background-color: transparent;
    background-image: url(../img/bird3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}




.onclock1{
    width: 185px;
    height: 300px;
    background-color: transparent;
    background-image: url(../img/aho1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maine2{
    width: 185px;
    height: 300px;
    background-color: transparent;
}

.onclock2{
    width: 185px;
    height: 150px;
    background-color: transparent;
    background-image: url(../img/aho2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.onclock3{
    width: 185px;
    height: 145px;
    background-color: transparent;
    background-image: url(../img/aho3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}




.alert1{
    width: 185px;
    height: 300px;
    background-color: transparent;
    background-image: url(../img/luck1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maine3{
    width: 185px;
    height: 300px;
    background-color: transparent;
}

.alert2{
    width: 185px;
    height: 150px;
    background-color: transparent;
    background-image: url(../img/luck2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alert3{
    width: 185px;
    height: 145px;
    background-color: transparent;
    background-image: url(../img/luck3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}

.tab{
    width: 400px;
    height: 50px;
    background-color: transparent;
    margin-right: 100px;
}

.topic{
    margin-left: 50px;
    margin-top: 30px;
}


.miss{
    width: 300px;
    height: 500px;
    background-image: url(../img/miss.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}


.space{
    width: 300px;
    height: 500px;
    background-image: url(../img/space.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}


.change{
    width: 300px;
    height: 500px;
    background-image: url(../img/change.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}


.system{
    width: 300px;
    height: 500px;
    background-image: url(../img/solar.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.nice1{
    margin-top: 400px;
}

.nice2{
    margin-top: 450px;
}


.uni1{
    width: 300px;
    height: 500px;
    background-image: url(../img/uni1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.uni2{
    width: 300px;
    height: 500px;
    background-image: url(../img/uni2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.uni3{
    width: 300px;
    height: 500px;
    background-image: url(../img/uni3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}

.uni4{
    width: 300px;
    height: 500px;
    background-image: url(../img/uni4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
}
